* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.navbar {
  background-color: #07362b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beer_collection {
  background-color: #333333;
  display: flex;
  padding-left: 20px;
}

.page_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  width: 350px;
  height: 250px;
  position: relative;
  padding: 5%;
  border-radius: 5px;
  background-color: #fcfaf9;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5%;
}

.img_container img {
  height: 200px;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card_content .card_info {
  color: #07362b;
}

.card_content .card_info h2 {
  margin-bottom: 10px;
}

.card_content .add_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add_btns div {
  height: 30px;
  width: 70px;
  background-color: #07362b;
  color: #fcfaf9;
  margin-left: 5px;
  position: relative;
  transition: 0.3s ease;
}

.add_btns div:hover {
  background-color: #fcfaf9;
  color: #07362b;
}

.add_btns div::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.brewed_btn::after {
  content: "Brewed";
}

.tasted_btn::after {
  content: "Tasted";
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.pagination div {
  background-color: #fcfaf9;
  height: 150px;
  width: 15px;
  position: relative;
  transition: 0.3s ease;
}

.pagination div:hover {
  background-color: #ffffff;
}

.previous::after,
.next::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.image {
  width: 80px;
}

.pageLink {
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.pagination .previous {
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination .next {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pagination .previous.active {
  opacity: 1;
  pointer-events: all;
}

#search_bar {
  display: flex;
  margin-bottom: 10px;
}

.search_btn {
  height: 30px;
  width: 30px;
  background-color: #fcfaf9;
  margin-left: 5px;
  position: relative;
}

.search_btn::after {
  content: "GO";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #07362b;
}

/*Beer recipe*/
#recipePageBody {
  background-color: crimson;
}

ul {
  list-style-type: none;
}

li {
  line-height: 25px;
}

.malt {
  background-image: url("./images/wheat.svg");
}

.hop {
  background-image: url("./images/hop.svg");
}

.yeast {
  background-image: url("./images/beaker.svg");
}

.addition {
  background-image: url("./images/spice.svg");
}

.malt,
.hop,
.yeast,
.addition {
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 5px;
}

#recipeContainer {
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 15px;
  width: 90%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#recipeHeadContainer {
  display: flex;
}

#recipeHeadContainer img {
  margin: 10px;
  height: 200px;
}

#recipeHead {
  width: 600px;
  display: flex;
}

#recipeHead img {
  height: 350px;
}

#beerDescription {
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}

#recipeTitle {
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  height: 80px;
}

#recipeParameters {
  margin-left: 30px;
  font-weight: bold;
  height: 80px;
  line-height: 20px;
}

#recipeIngredientsHolder {
  width: 500px;
}

#recipeContributor {
  float: right;
}

#hopList,
#yeastList,
#maltList,
#additionList {
  margin: 5px 0 0 0;
  border-top: 1px solid black;
}

#recipeMethod {
  margin-top: 0px;
}
/*Beer recipe end*/
