* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.navbar {
  background-color: #07362b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beer_collection {
  background-color: #333333;
  display: flex;
  padding-left: 20px;
}

.page_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.search_bar {
  background-color: burlywood;
  height: 30px;
  width: 30%;
  border-radius: 30px;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  width: 350px;
  height: 250px;
  position: relative;
  padding: 5%;
  border-radius: 5px;
  background-color: #fcfaf9;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5%;
}

.img_container img {
  height: 200px;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card_content .add_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add_btns div {
  height: 30px;
  width: 30px;
  background-color: #07362b;
  margin-left: 5px;
  position: relative;
}

.add_btns div::after {
  content: "+";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fcfaf9;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.pagination div {
  background-color: #fcfaf9;
  height: 150px;
  width: 15px;
  position: relative;
}

.previous::after,
.next::after {
  content: "<";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.next::after {
  content: ">";
}

.image {
  width: 80px;
}

.pageLink {
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
